<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Moonshine</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
  <ion-card  *ngFor="let offer of offers" (click)="viewOffer($event, offer)">
      <div class="image">
          <img src="{{offer.image}}" alt="{{offer.title}}"> 
          <div class="info-bar">
              <div class="ad-type">{{offer.adtype}}</div>
              <div class="daysleft">{{offer.daysleft}}</div>
          </div>
      </div>
      <h1 [innerHTML]="offer.title"></h1>
      <h2 *ngIf="offer.subtitle" [innerHTML]="offer.subtitle"></h2>
  </ion-card>
</ion-list>

</ion-content>
