page-offer {
    ion-content, .scroll-content {
        padding:0 !important;
    }

    ion-card {
        padding: 0px 0px 20px 0px;
        margin: 0 !important;
        width: 100% !important;
    }

    ion-card h2 {
        padding:10px 20px;
    }

    ion-card p {
        padding:5px 20px;
    }

}
